
#webcam-video{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

#video-player, #video-player2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.transcripts {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    z-index: 1000;
}

#transcript, #transcript_11labs {
    bottom: 10px;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.7);
    color: black;
    text-align: center;
}

#transcript_11labs {
    display: none;
}

form {
    z-index: 2;
    position: absolute;
    opacity: 0;
}


