<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/parcipate.css" />
</head>
<html>

<body>

  <!-- <header>
    <h1><span>AYN-TYCHO</span> Corp.</h1> 
    <nav>
      <ul>
        <li>STATION 23</li>
        <li>SPACESHIP</li>
        <li>TITAN</li>
        <li>CREW</li>
        <a id="nav_cta"><li>PARTICIPATE</li></a>
      </ul>
    </nav>
  </header> -->
  
  <form id="speech-form" enctype="multipart/form-data">
    <label for="text-input">Enter your text input:</label><br>
    <input type="text" id="text-input" name="text-input" required><br>
    <br>
    <input type="submit" value="Submit">
  </form>
  <section class="container register">
    <div class="transcripts">
      <p id="transcript"></p>
      <p id="transcript_11labs"></p>
    </div>

    <div id="webcam-container">
      <video id="webcam-video" autoplay="true"></video>
      <canvas id="canvas"></canvas>
    </div>
  
    <div id="vid-container">
      <video id="video-player" muted="true" autoplay="true" playsinline="true"></video>
      <video id="video-player2" muted="true" autoplay="true" playsinline="true" src="static/vids/batch_x/network_intro_dark_fast.mp4"></video>
    </div>
  </section>
  
    <!-- <button id="start_button" role="button" onClick="playIntro()">Enter</button> -->


  <script src="/static/js/script.js"></script>
  <script src="/static/js/playvideo.js"></script>
  <script src="/static/js/match.js"></script>
</body>

</html>